<h2 class="text-center"> Sign In </h2>

<%= form_tag sessions_path do %>
  <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
    <div class="form-group">
      <%= label_tag :email, "Email", class: "control-label" %>
      <div>
        <%= email_field_tag :email, nil, class:"form-control", placeholder: "Email" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :password, "Password", class: "control-label" %>
      <div>
        <%= password_field_tag :password, nil, class:"form-control", placeholder: "Password" %>
      </div>
    </div>




  <br>
  <div class="text-center">
    <%= submit_tag 'Sign In', class: "btn btn-default btn-primary submit_btn" %>
  </div>
<% end %>
</div>
